<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>WebPos 2.0-登陆</title>
    <link type="text/css" rel="stylesheet" href="../content/css/common.css" />
    <link type="text/css" rel="stylesheet" href="../content/css/login.css" />
    <link type="text/css" rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../scripts/bootstrap-keyboard.js"></script>
</head>
<body>
    <div class="login">
        <div class="header">
            <div class="logo"></div>
            <div class="regist"></div>
        </div>
        <div class="form">
            <div class="keyboard" data-toggle="keyboard" data-esc="true"></div>
            <div class="wrapper first">
                <label class="pos-label">工号:</label>
                <input class="input" type="text" value="" name="UserName" id="UserName" />
            </div>
            <div class="wrapper second">
                <label class="pos-label">密码:</label>
                <input class="input" type="text" value="" name="Password" id="Password" />
            </div>
            <i class="login_button second inner"></i>
        </div>
    </div>
</body>
</html>
